.table-container {
    min-width: 850px;
    border-radius: 12px;
    height: 60vh;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: background 0.3s ease;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}

table {
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border-collapse: collapse;
}

th {
    background-color: #444;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:hover {
    background-color: #dcdcdc;
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}
